
__pycache__/appendfile.cpython-39.pyc
__pycache__/changedir.cpython-39.pyc
__pycache__/createfile.cpython-39.pyc
__pycache__/copyfile.cpython-39.pyc
__pycache__/deletedir.cpython-39.pyc
__pycache__/makedir.cpython-39.pyc
__pycache__/readfile.cpython-39.pyc
__pycache__/renamefiledir.cpython-39.pyc
__pycache__/removefile.cpython-39.pyc
__pycache__/tratamento.cpython-39.pyc
test.txt
*.pyc
